#confirm-delete:hover {
  background-color: rgb(149, 37, 37);
}

#confirm-delete {
  background-color: rgb(247, 87, 87);
}

#modal-content #cancel-delete:hover {
  background-color: rgb(152, 152, 152);
}

#modal-content .delete-form {
  width: 400px
}
