#spot-images-container {
  height: 1000px;
  display: grid;
  grid-template-columns: 2fr, 1fr, 1fr;
  grid-template-rows: 50% 50%;
  grid-template-areas:
  'prev img1 img2'
  'prev img3 img4';
}

.spot-img {
  width: 100%;
}

#preview-image {
  grid-area: prev;
}



#call-out-box {
  width: 30%;
  display: inline-block;
  border: 1px black solid;
    border-radius: 10px;
}

#COB-top {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: 10px 0px;
}

#reserve-button {
  margin: 0px 5% 30px 5%;
  width: 90%;
  height: 50%;
  background-color: rgb(247,87,87);
  color: white;
}

#reserve-button:hover {
  cursor: pointer;
  background-color: rgb(149,37,37);
}

#spot-description {
  display: inline-block;
  width: 60%;
}

#spot-details-lower {
  display: flex;
  justify-content: space-between;
}

#spot-owner {
  margin-bottom: 0px;
}

#spot-show {
  max-width: 1000px;
  margin: auto;
}

@media screen and (max-width: 925px) {
  #spot-details-lower {
    display: flex;
    flex-direction: column;
  }

  #call-out-box {
    width: 300px;
    display: inline-block;
    margin-bottom: 20px;
  }
}
