.spot-image {
  height: 225px;
  width: 225px;
  border-radius: 10px;
}

.image-container {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.image-container:hover .image-tooltip {
  display: block;
}

.spot-index {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: auto;
  row-gap: 20px;
  margin: auto;
  font-size: 18px;
}

.spot-card {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
}

.spot-card > * {
  color: rgb(245, 87, 87);
  text-decoration: none;
}

#spot-info-upper {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 749px) {
  .spot-index {
    grid-template-columns: auto;
  }
}

@media screen and (min-width: 750px) and ( max-width: 1023px) {
  .spot-index {
    grid-template-columns:auto auto;
  }

  .spot-image {
    height: 35vw;
    width: 35vw;
  }
}

@media screen and (min-width: 1024px) {
  .spot-image {
    height: 20vw;
    width: 20vw;
  }
}
