/* TODO Add site wide styles */
.hidden {
  display: none
}

.profile-dropdown {
  width: fit-content
}

li.modal:hover {
  cursor: pointer
}

nav {
  border-bottom: grey 1px solid;
  width: 100%;
  position: fixed;
  top: 0px;
  background-color: white;
  padding-top: 0;
  height: 70px;
  z-index: 1000;
}

.app-div {
  padding-top: 104px;
}

html {
  /* background: rgb(92, 91, 91); */
  color: rgb(245, 87, 87);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

textarea {
  resize: none;
}
