.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  list-style: none;
  padding: 0px;
  z-index: 10000;
}

.fa-wind {
  font-size: 35px;
  position: relative;
  top: -10px;
}

.logo {
  padding: 0px;
  color: rgb(245, 87, 87)
}

.logo-name {
  font-size: 25px;
}

.profile-button {
  position: relative;
  top: -20px;
  width: 75px;
  height: 40px;
  border-radius: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 25%;
  right: 20px;
}

.profile-button>i {
  font-size: x-small;
}

.profile-button:hover {
  cursor: pointer;
  background-color: rgb(245, 87, 87);
  color: white;
}

.pb-li {
  /* background-color: aqua; */
  display: flex;
  height: 53px;
  /* align-items: ; */
}

.profile-dropdown {
  background-color: white;
  border: 1px rgb(220, 220, 220) solid;
  border-radius: 5px;
  position: absolute;
  right: 50px;
  top: 65px;
  list-style: none;
  width: fit-content;
  padding-left: 0px;
  text-align: center;
}

.login-signup {
  width: 100px;
}

.login-signup > * {
  padding: 5px 0px;
  border-bottom: .5px rgb(220, 220, 220) solid;
}

.user-info {
  width: 150px;

}

.modal {
  background-color: rgb(245, 87, 87);
  color: white;
  width: 65px;
  padding: 5px 5px;
  border: .5px rgb(0, 0, 0) solid;
  border-radius: 15px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.modal:hover {
  background-color: rgb(149, 37, 37);
}

.spots-link {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-top: solid 1px rgb(220,220,220);
  border-bottom: solid 1px rgb(220,220,220);
  border-top-width: 75%;
  border-bottom-width: 75%;
}

.spots-link > * {
  color: rgb(245, 87, 87);
  text-decoration: none;
}

#create-spot-link {
  position:relative;
  top: 14px;
  right: 30px;
}

#create-spot-link > * {
  text-decoration: none;
}

#create-spot-link > *:hover{
  text-decoration: underline;
  font-weight: bold;
  color: rgb(245, 87, 87)
}

.login-div > *[name="banana"] {
  width: 600px
}
